.footer{
    width: 1214px;
    height: 500px;
    background-color: #474747;
    padding: 5% 5%;
    margin-top: 10%;
}
.top {
    display: grid;
    grid-template-columns: 24% 10% 16% 36%;
    column-gap: 5%;
}
.col{
    width: 295px;
    height: 70px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #adb29e;
}
.list1{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #fff;
}
.list2{
    color:#dbdfd0;
    list-style: none;
    margin-bottom: 20px;
}
.foot{
    width: 400px;
    display: grid;
    grid-template-columns: 49% 49%;
    height: 200px;
    row-gap: 4%;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}
.copy{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color:#dbdfd0;
    text-align: center;
}